html {
	overflow: hidden;
}
body {
    border-radius: 15px;
    background-color: transparent;
}
button {
	background: none;
	border: none;
}
p {
	text-shadow: 0 0 10px black;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
	text-shadow: 0 0 10px black;
}
.h1, h1 {
    font-size: 2.5rem;
	width: 100%;
	color: white;
	text-align: center;
}
.h3, h3 {
    font-size: 1.75rem;
	color: gray;
	font-style: italic;
	font-weight: 400;
}
.play {
    display: flex;
    justify-content: center;
	width: max-content;
	padding: 115px;
	background: #3EE667;
	border-radius: 500px;
	box-shadow: 0px 0px 20px 0px black;
	transition: 0.3s;
	cursor: pointer;
}
.playicon {
	filter: drop-shadow(0px 0px 3px black);
}
.maindiv {
	display: flex;
    flex-direction: column;
    align-items: center;
	height: 100%;
	width: 100%;
}
.play:hover {
	background: #4eff80;
}
#bruh {
	margin-bottom: 16vh;
}
.login {
	position: fixed;
	left: 10px;
    top: 10px;
	cursor: pointer;
	padding: 0px;
}
.form-group {
    margin-bottom: 0.5rem;
}
.dropdown-menu {
	left: 53px;
	top: 15px;
}
.btn-primary {
	margin-bottom: 10px;
}
.no-gdps {
	background: #ffcdcd;
}
.titlebar {
  height: 30px;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  width: 93%;
}
.titlebar-button,
.titlebar-button-close {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 3px;
}
.titlebar-button-close {
  border-top-right-radius: 15px;
}
.titlebar-button-close:hover {
  background: #ff8c8c;
  border-top-right-radius: 15px;
}
.titlebar-button:hover {
  background: #47494e99;
}
.mahbody {
	background-image: url(cat.png);
    background-position-y: center;
    background-position-x: center;
    background-size: 115%;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #36393e;
}
.prdiv {
	position: absolute;
    bottom: 20px;
    width: 97%;
}
.dl {
	padding: 100px 111px 100px 120px;
}
.prtext {
	display: flex;
	justify-content: space-between;
}
.prp {
	width: max-content;
}
.spin {
    animation-name: rotation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}
.loading {
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.5;
    z-index: 1;
    position: absolute;
    background: #000000;
	border-radius: 15px;
}
.fillbg {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background: #00000000;
	transition: 0.3s;
	backdrop-filter: blur(1.5px);
	border-radius: 15px;
}
.loadsvg {
	position: absolute;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    filter: drop-shadow(0px 0px 3px black);
}
.loginstg {
	display: flex;
	grid-gap: 5px;
	align-items: center;
	cursor: pointer;
}
.settings {
	width: 50%;
	margin-bottom: 10px;
}
.ver {
	display: flex;
    width: 97%;
    justify-content: space-between;
    bottom: 0;
    position: absolute;
    left: 10px;
}
.ver h3 {
	font-size: 20px;
	text-shadow: 0 0 5px black;
	color: white;
}
progress::-webkit-progress-value {  
  background: linear-gradient(-90deg, rgba(106,255,115,1) 0%, rgba(0,255,86,1) 100%);
} 
.warnbtn {
	width: 65%;
	display: grid;
	grid-gap: 5px;
	justify-items: center;
}
.warnbtn button {
	font-size: 23px;
}
.warntext p {
	font-size: 22px;
	width: 80%;
}
.loadsvg h1 {
	position: absolute;
	top: 22px;
    width: max-content;
}
.radios {
	color: white;
	display: flex;
    justify-content: space-evenly;
}